<nav class="bg-white shadow-md px-8 py-4 flex justify-between items-center rounded-md">


    <div class="flex items-center justify-center gap-2">
        <button (click)="toggleSidebar.emit()" class="md:hidden text-gray-700 mr-4 focus:outline-none">
            <!-- Icono hamburguesa SVG -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <h1 *ngIf="toggleSidebar" class="text-xl font-bold hidden md:block">Mi Tienda</h1>
    </div>


    <div>
        <a routerLink="/auth/login" class="bg-blue-600 text-white px-4 py-2 rounded">Login</a>
    </div>
</nav>