<section class="py-10 bg-white rounded-lg" *ngIf="!loading && product">
    <div class="max-w-screen-xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
        <!-- Imagen del producto -->
        <div class=" mx-auto">
            <img class="w-full h-56 rounded-lg shadow-md object-contain p-4"
                [src]="'https://localhost:7086' + product.imageUrl" [alt]="product.name" />
        </div>

        <!-- Detalles del producto -->
        <div>
            <h1 class="text-3xl font-bold text-gray-900 mb-4">{{ product.name }}</h1>

            <p class="text-xl text-blue-600 font-semibold mb-4">
                ${{ product.price | number: '1.2-2' }}
            </p>

            <p class="text-gray-700 leading-relaxed mb-6">
                {{ product.description }}
            </p>

            <div class="max-w-44">
                <app-cart-controls [product]="product" [cartMap]="cartMap" (cartUpdated)="onCartUpdated()">
                </app-cart-controls>

            </div>
        </div>
    </div>
</section>

<!-- Estado de carga -->
<div *ngIf="loading" class="text-center py-20 text-gray-500 text-lg">
    Cargando producto...
</div>