<div class="p-4">
    <h1 class="font-bold text-2xl text-blue-500 mb-4">Productos</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Skeletons de carga -->
        <ng-container *ngIf="loading">
            <div *ngFor="let skeleton of [1,2,3,4,5,6,7,8]" class="bg-gray-200 animate-pulse h-60 rounded-lg"></div>
        </ng-container>

        <!-- Productos -->
        <ng-container *ngIf="!loading">
            <div *ngIf="paginatedProducts.length === 0" class="col-span-full text-center text-gray-500 italic py-10">
                No hay productos disponibles.
            </div>
            <div *ngFor="let product of paginatedProducts"
                class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105 flex flex-col justify-between">
                <!-- Imagen -->
                <div class="w-full aspect-[4/3] overflow-hidden rounded-lg mb-2">
                    <img [src]="'https://localhost:7086' + product.imageUrl" [alt]="product.name"
                        class="w-full h-full object-contain transition-all duration-300" />
                </div>

                <!-- Detalles del producto -->
                <div class="flex flex-col flex-grow mb-2 px-3">
                    <h3 class="text-lg font-semibold text-gray-800">{{ product.name }}</h3>
                    <p class="text-sm text-gray-600 mb-2 line-clamp-2">{{ product.description }}</p>

                    <div class="flex items-center justify-between mt-auto pt-2 border-t border-gray-200">
                        <p class="text-blue-600 font-bold text-md">$ {{ product.price }}</p>
                        <a [routerLink]="['/product', product.id]"
                            class="text-sm text-blue-600 hover:underline hover:text-blue-800 transition duration-200">
                            Ver más
                        </a>
                    </div>
                </div>


                <app-cart-controls [product]="product" [userId]="userId" [cartMap]="cartMap"
                    (cartUpdated)="loadCartItems()">
                </app-cart-controls>
            </div>
        </ng-container>
    </div>

    <!-- Paginación -->
    <div class="flex justify-center mt-8 gap-3" *ngIf="products.length > 0">
        <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1"
            class="px-4  bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 disabled:opacity-50">
            Prev
        </button>

        <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="currentPage = i + 1"
            [class.bg-blue-500]="currentPage === i + 1" [class.text-white]="currentPage === i + 1"
            class="px-4 border border-gray-300 rounded-lg hover:bg-blue-100">
            {{ i + 1 }}
        </button>

        <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages"
            class="px-4  bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 disabled:opacity-50">
            Next
        </button>
    </div>
</div>